<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShelllServers_ASPNET</title>
    <link href="../wwwroot/CSS/IndexStyles.scss" rel="stylesheet" type="text/css">
    
</head>
<body>

    <div class="logo" style="background-image: url(../wwwroot/IMG/logo.png)"></div>

    <section class="layers">
        <div class="layers__container">
            <div class="layers__item layer-1" style="background-image: url(../wwwroot/IMG/layer-1.jpg);"></div>
            <div class="layers__item layer-2" style="background-image: url(../wwwroot/IMG/layer-2.png);"></div>
            <div class="layers__item layer-3">
                <div class="hero-content">
                    <h1>Заголовок <span>Подзаголовок</span></h1>
                    <div class="hero-content__p">Может быть какая-то ссылка</div>
                    <button class="button-start">Начать</button>
                </div>
            </div>
            <div class="layers__item layer-4">
                <canvas class="rain"></canvas>
            </div>
            <div class="layers__item layer-5" style="background-image: url(../wwwroot/IMG/layer-5.png);"></div>
        </div>

    </section>
    <div style="height: 100vh;">
        <ul>
            <li>батон1</li>
            <li>батон2</li>
            <li>батон3</li>
        </ul>
    </div>


    <script defer src="../wwwroot/JS/Index.js" rel="script" type="text/javascript"></script>
</body>
</html>