			<div id="layers__advWindow" class="modalWindow">
				<div class="divFor">
					<div class="innerDivADV">

						<div class="beforeInputsDiv">
							<h2>Реклама на ZMB Studio</h2>
							<p>В этом магазине можно купить и настроить рекламу в розыгрыше на дискорд-сервере MBStudio.
							<br>Укажите необходимое количество участников, введите бессрочную ссылку на Ваш сервер и оплатитерекламу.
							<span style = "font-weight: bold;">Обратите внимание!</span> Чтобы реклама работала правильно - Вам необходимо добавить на сервер нашего бота. После завершения срока рекламы, бот автоматически покинет сервер.</p>
						</div>

						<div class="inputsDiv">
							<p><span>*</span>Ссылка на сервер:</br>
								<input class="inputMain" type="type" name="name1" value="" placeholder="Ссылка на сервер" />
							</p>
							<p><span>*</span>ID сервера:</br>
								<input class="inputMain" type="type" name="name2" value="" placeholder="ID сервера" />
							</p>
							<p><span>*</span>Необходимое количество участников:</br>
								<input class="inputMain" type="type" name="name3" value="" placeholder="Необходимое количество участников" />
							</p>
						</div>

						<div id="divForSentFormButton">
							<button id="SentFormButton">Отправить заявку</button>
						</div>

					</div>
				</div>
			</div>
