<div id="layers__handlerWindow" class="modalWindow">

    <div id="divH1">
        <h1>Страница владельца сервера</h1>
    </div>

    <div id="divUnderH1">
        <div id="divLeft">
            <div id="photoDivPlace">
                Место для фото
            </div>
        </div>
        <div id="divRight">
            <output>    </output>
            <output>    </output>
            <output>    </output>
            <output>    </output>
            <output>    </output>
            <output>    </output>
        </div>
    </div>

</div>