* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh); /*коэффициент для того чтобы размер элементов менялся динамически от размеров экранов*/
}



body {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    color: bisque;
    overflow: hidden;
    scrollbar-width: none; /*для mozilla*/
	min-height: 75rem;
}

.logo {
    padding: 0;
    position: absolute;
    width: calc(var(--index)*24);
    height: calc(var(--index)*24);
    background-size: 100%;
    left: 20%;
    top: 45%;
    /*transform: translate(-50%, -50%);*/
    background-repeat: no-repeat;
    z-index: 1;
}

.layers {
    /*perspective: 5000px; /*чем меньше параметр тем больше перспектива*/
    overflow: hidden;
    scrollbar-width: none;
}

.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(calc(var(--move-x)*-1));
    will-change: transform; /*указываем, при наличии transform, чтобы выделялись ресурсы для анимации*/
}

.layers__item {
    position: absolute;
    inset: -5vw; /*вместо top, left, right, bottom*/
    background-size: cover;
    background-position: center;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

/*фон*/
.layer-1 {
    transform: translateZ(-200px) scale(1.2);
    background-repeat: no-repeat;
    z-index: 0;
}

.layer-2 {
    transform: translateZ(-80px);
    z-index: 1;
}

.layer-3 {
    transform: translateZ(10px);
    z-index: 2;
    top: 30%;
}

.layer-4 {
    transform: translateZ(190px);
    z-index: 3;
	border: 2px red solid;
}

.layer-5 {
    transform: translateZ(200px);
    z-index: 4;
}

.hero-content {
    text-align: center;
    font-size: calc(var(--index)*1.9);
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -0.15);
    font-family: 'vardana', Helvetica, sans-serif;
    line-height: 1.35em;
}

.hero-content span {
    display: block;
}

.button-start {
    border: 5px bisque solid;
    border-radius: 1em;
    background-color: #f000;
    padding: 20px;
    color: bisque;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.button-start:hover {
    box-shadow: 0 0 10px 15px bisque;
    color: white;
    background-color: darkblue;
}

/*т.к. слои 5, 4 мешают(из-за индексов, просто замена индексов не поможет)
    взамодействовать с 3 слоем, на котором кнопка, то надо следующее:*/
.layer-5, .layer-4/*, .adv_Window, .divFor, .inputsDiv, .beforeInputsDiv*/ {
    pointer-events: none;
}

/*HEADER*/

/*end of HEADER*/

/*Adv_Window*/
#layers__advWindow {
    position: absolute;
    background-color: rgba(31, 112, 184, 0.9);/*#100642;*/
    border-radius: 16px;
    width: 60%; /*calc(var(--index) - 20px);*/
    height: 60%; /*calc(var(--index) - 100px);*/
    z-index: 900;
    /*transform: translate(-50%, -50%);*/
    top: 25%;
    left: 20%;
    text-align: -moz-center;
    display: none;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transform: translateZ(20px);
	
}

.divFor {
    width: 90%;
    border: 2px solid white;
    height: 90%;
	overflow: hidden;
}

.beforeInputsDiv{
	position: relative;
}

.inputsDiv {
    position: relative;
    display: inline-grid;
    width: 100%;
    height: 80%;
}

.inputMain{
    height: 35px;
	width: 100%;
}
.innerDivADV{
	transition: all 0.5s ease-in-out;
}

#divForSentFormButton{
	position: relative;
}
#SentFormButton{
	
}
/*конец Adv_Window*/

/*Начало chatBotWindow*/
#layers__chatBotWindow {
    position: absolute;
    background-color: rgba(19, 34, 97, 0.8); /*#100642;*/
   
    border-radius: 16px;
    width: 60%; /*calc(var(--index) - 20px);*/
    height: 60%; /*calc(var(--index) - 100px);*/
    z-index: 900;
    /*transform: translate(-50%, -50%);*/
    top: 25%;
    left: 20%;
    text-align: -moz-center;
    display: none; /*block*/
    /*align-items: center;*/
    justify-content: center;
    vertical-align: middle;
    transform: translateZ(20px);
}

.beforeOutputsDiv{
    position: relative;
    display:flex;
    height: 40px;
    width: 100%;
    background-color: black;
}

.outputsDiv {
    position: relative;
    display: block;
    height: calc(100% - 40px);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.outputMain {
	position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 112, 184);
}
#p_chatBotWindow{
    font-family: 'vardana', fantasy, auto;
    font-size: 35px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: absolute;
    top: 3px;
}
/*конец chatBotWindow*/

/*начало mainWindow*/
#layers__handlerWindow{
	position: absolute;
    background-color: rgba(31, 112, 184, 0.9);/*#100642;*/
    border-radius: 16px;
    width: 60%; /*calc(var(--index) - 20px);*/
    height: 60%; /*calc(var(--index) - 100px);*/
    z-index: 900;
    /*transform: translate(-50%, -50%);*/
    top: 25%;
    left: 20%;
    text-align: -moz-center;
    display: none;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transform: translateZ(23px);
}
/*конец mainWindow*/
