*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{

}

h1 {
    text-align: center;
    font-size: 160px;
}

body {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    color: bisque;

    overflow: hidden;
    scrollbar-width: none; //для mozilla
}

.logo{
    position: absolute;
    width: 70%;
    height: 20%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    z-index: 2;
    text-align: center;
}

.layers{
    /*perspective: 5000px; //чем меньше параметр тем больше перспектива*/
    overflow: hidden;
    scrollbar-width:none;
}

.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

.layers__item {
    position: absolute;
    inset: -5vw; /*вместо top, left, right, bottom*/
    background-size: cover;
    background-position: center;
    
}

/*фон*/
.layer-1 { 
    transform: translateZ(-200px) scale(1.2);
    background-repeat: no-repeat;
    z-index: 0;
}

.layer-2 {
    transform: translateZ(-80px);
    z-index: 1;
}

.layer-3 {
    transform: translateZ(120px);
    z-index: 12;
    
}

.layer-4 {
    transform: translateZ(190px);
    z-index: 3;
}

.layer-5 {
    transform: translateZ(200px);
    z-index: 4;
}

.hero-content{
    text-align: center;
}